[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
xgboost = "*"
ipykernel = "*"
wordcloud = "*"
onnxmltools = "*"
streamlit = "*"
onnxconverter-common = "*"
onnxruntime = "*"
g4f = "*"
langchain = "*"
langchain-community = "*"
torch = "*"
llama-index = "*"
curl-cffi = "*"
llama-index-llms-langchain = "*"
llama-index-embeddings-huggingface = "*"
llama-index-embeddings-langchain = "*"

[dev-packages]

[requires]
python_version = "3.11"
