{% extends 'base.html' %}
{% load static %}
{% block title %}Расчёт сметы{% endblock %}

{% block content %}
<div class="container">
    <form method="post" id="construction-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Рассчитать</button>
    </form>
</div>
{% endblock %}
{% block extra_js %}
<!-- JavaScript для динамического изменения материалов -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const serviceSelect = document.getElementById('service-select');
        const materialSelect = document.getElementById('material-select');

        if (serviceSelect) {  // Проверка наличия элемента
            serviceSelect.addEventListener('change', function() {
                const serviceId = this.value;

                // Очистка списка материалов перед загрузкой новых
                materialSelect.innerHTML = '';

                if (serviceId) {
                    fetch(`/get-materials/?service_id=${serviceId}`)
                        .then(response => response.json())
                        .then(data => {
                            data.materials.forEach(material => {
                                const option = document.createElement('option');
                                option.value = material.id;
                                option.textContent = material.name;
                                materialSelect.appendChild(option);
                            });
                        });
                }
            });
        } else {
            console.error('Element with ID "service-select" not found.');
        }
    });
</script>

    <script src="{% static 'js/auto_time_calculation.js' %}"></script>
{% endblock %}
